:root {
    --diferenciados: rgb(91, 91, 91);
    --base-color: #fd951f;
    --bg-color: #130f0d;
    --white: #f0f0f9;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: auto;
}

.lcd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    height: 20rem;
    border: 10px solid rgb(250, 117, 0);
    background-color: rgb(91, 91, 91);

}

.keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex-wrap: wrap;
    width: 58rem;
    height: 19rem;
    border: 10px solid gray;
    background-color: #dad9d9a8;
}

.number,
.key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3.6rem;
    height: 3rem;
    background-color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.key:nth-child(14),
.key:nth-child(15) {
    width: 5rem;
    color: #fff;
    background-color: var(--diferenciados);
}

.key:nth-child(41),
.key:nth-child(29) {
    width: 6.3rem;
    color: #fff;
    background-color: var(--diferenciados);
}

.key:nth-child(52),
.key:nth-child(42) {
    width: 10.4rem;
    color: #fff;
    background-color: var(--diferenciados);
}

.key:nth-child(57) {
    width: 12.4rem;
    color: #fff;
}

.key:nth-child(56),
.key:nth-child(58) {
    width: 8rem;
    background-color: var(--diferenciados);
}

.click {
    transition: .1s;
    height: 2.2rem;
    box-shadow: rgba(244, 44, 4, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.playing {
    transform: scale(0.98);
    border-color: var(--base-color);
    box-shadow: 0 0 1rem var(--base-color);
}

.especial {
    color: red;
    font-weight: 700;
    transform: scale(1);
    border-color: red;
    box-shadow: 0 0 1rem black;
}

.key {
    transition: transform 80ms ease;
}